
  <form [formGroup] ="loginForm" (ngSubmit)="login()">
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <h1>WelcomeSBK</h1>
      </div>
      <div class="col-4"></div>
    </div>


    <div class="mb-3">

      <label for="acno" class="form-label">AccountNumber</label>
      <input type="text" formControlName="accno" name="accno"  class="form-control" id="acno"
        aria-describedby="emailHelp">
        <div  *ngIf="(this.loginForm.get('accno')?.touched||this.loginForm.get('accno')?.dirty)&&this.loginForm.get('accno')?.errors" class="error">invalid account number</div>

      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password</label>
      <input type="password" formControlName="pswd" name="pswd" class="form-control" id="pwd">
      <div  *ngIf="(this.loginForm.get('pswd')?.touched||this.loginForm.get('pswd')?.dirty)&&this.loginForm.get('pswd')?.errors" class="error">invalid password</div>

    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <br>
    <a routerLink="register">Registration</a>
  </div>
  </form>
