<h1 class="text-center" style="color: rgb(34, 194, 146);"><strong>Welcome {{name}}  Bank Dash
        board</strong></h1>
<form [formGroup]="depositForm" (ngSubmit)="deposit()">
    <div class="container">
        <div class="jumbotron">

           
                <div class="row">
                    <div class="col">


                        <h1 appHighlight>Cash Deposit form</h1>
                        <table [ngClass]="acno? 'red' :''">

                            <tr>
                                <td><label for="accno">Account number1</label></td>
                                <td><input type="text" id="acno" formControlName="accno" name="accno"></td>
                                <div *ngIf="(this.depositForm.get('accno')?.touched||this.depositForm.get('accno')?.dirty)&&this.depositForm.get('accno')?.errors"
                                    class="error">invalid Account number</div>


                            </tr>

                            
                                <tr>
                                    <td><label for="password">password</label></td>
                                    <td><input type="text" id="pasw" formControlName="pswd" name="pswd"></td>
                                    <div *ngIf="(this.depositForm.get('pswd')?.touched||this.depositForm.get('pswd')?.dirty)&&this.depositForm.get('pswd')?.errors"
                                        class="error">invalid password</div>

                                </tr>
                            
                            
                                <tr>
                                    <td><label for="deposit">Amount</label></td>
                                    <td><input type="text" id="amt" formControlName="amount" name="amount"></td>
                                    <div *ngIf="(this.depositForm.get('amount')?.touched||this.depositForm.get('amount')?.dirty)&&this.depositForm.get('amount')?.errors"
                                        class="error">invalid amount</div>

                                </tr>
                                <tr>
                                    <td><button type="submit" class="btn btn-success" >Deposit</button></td>
                                </tr>

                            </table>
                    </div>
                </div>
            
        </div>
    </div>
        
              
            

        
    
</form>
<br>
<br>

<form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
    <div class="container">
        <div class="jumbotron">

           
                <div class="row">
                    <div class="col">


                        <h1>Cash withrawel form</h1>
                        <table [ngClass]="acno? 'red' :''">

                            <tr>
                                <td><label for="accno">Account number1</label></td>
                                <td><input type="text" id="acno" formControlName="accno" ></td>
                                <div *ngIf="(this.withdrawForm.get('accno')?.touched||this.withdrawForm.get('accno')?.dirty)&&this.withdrawForm.get('accno')?.errors"
                    class="error">invalid Account number</div>


                            </tr>

                            
                                <tr>
                                    <td><label for="password">password</label></td>
                                    <td><input type="text" id="pasw" formControlName="pswd" ></td>
                                    <div *ngIf="(this.withdrawForm.get('pswd')?.touched||this.withdrawForm.get('pswd')?.dirty)&&this.withdrawForm.get('pswd')?.errors"
                    class="error">invalid password</div>

                                </tr>
                            
                            
                                <tr>
                                    <td><label for="deposit">Amount</label></td>
                                    <td><input type="text" id="amt" formControlName="amount" ></td>
                                    <div *ngIf="(this.withdrawForm.get('amount')?.touched||this.withdrawForm.get('amount')?.dirty)&&this.withdrawForm.get('amount')?.errors"
                    class="error">invalid amount</div>

                                </tr>
                                <tr>
                                    <td><button type="submit" class="btn btn-danger">withdrwaval</button></td>
                                </tr>

                            </table>
                    </div>
                </div>
            
        </div>
    </div>
    
           
      </form>
      <br>
      <br>
      <div>
      <!-- <app-delet-confirmation (onCancel)="onCancel()" (onDelete)="onDelete($event)" [item]="acno"></app-delet-confirmation>
      <button type="submit" class="btn btn-primary" value="proceed" (click)="delete()">Delet Account</button>
        -->
        <app-delet-confirmation (onCancel)="onCancel()" (onDelete)="onDelete($event)" [item]="acno"></app-delet-confirmation> 
        <br>
        <button type="submit" class="btn btn-primary" value="proceed" (click)="delete()">Delet Account</button>
      
    </div>