<div class="container">
    <div class="row">
        <div class="main">
       
        <h1 class="text-center" style="color: rgb(34, 194, 146);"><strong>Bank Dash board</strong></h1>
      
    </div>
    </div>


    <table>
        <div class="mb-3">
        <tr>
            <td><label for="accno">Account number1</label></td>
            <td><input type="text" id="acno"></td>
        </tr>
        </div>
        <div class="mb-3">
        <tr>
            <td><label for="password">password</label></td>
            <td><input type="text" id="pasw"></td>
        </tr>
        </div>
        <div class="mb-3">
        <tr>
            <td><label for="deposit">Amount</label></td>
            <td><input type="text" id="amt"></td>
        </tr>
    </div>
    <!-- <div class="mb-3">
        <tr>
            <td><label for="deposit">deposit</label></td>
            <td><input type="text" id="dep"></td>
        </tr>
    </div> -->
    
    </table>
    <br>
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" onclick="Bank.deposit()">Deposit</button>
    <button type="button" class="btn btn-primary" onclick="Bank.withdraw()">withdrwa</button>


    </div>
    
